body {
    background-color: var(--branco);
    color: var(--texto-escuro);
}

.container-cadastro {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: var(--fundo);
    margin: 2%;
    padding: 2%;
    border-radius: 15px;
    height: 20vh;
    align-items: center;
}

.titulo-banner {
    color: var(--branco);
    font-weight: 700;
    font-size: 2em;
}

.texto-banner {
    color: var(--texto-suave);
    font-weight: 400;
    font-size: 1rem;
}

.imagem-banner {
    width: 6%;
}

.secao-cadastro {
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.alinhamento {
    display: flex;
    gap: 10%;
}

label {
    font-weight: 300;
    font-size: 1.3rem;
}

input {
    padding: 12px;
    border: 2px solid var(--borda);
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 8%;
}

.botao-cadastro {
    background-color: var(--fundo);
    color: var(--amarelo);
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.1rem;
    width: 400%;
    margin-top: 10%;
    margin-bottom: 20px;
}

.botao-cadastro:hover{
    cursor: pointer;
}

.alinhamento-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.senha-conter {
    font-size: 0.66rem;
    margin-top: -8%;
    color: var(--texto-suave);
}

.link-voltar{
    color: var(--texto-escuro);
}